*
{
	font-size: 11px;
  font-family: sans-serif;
}

body
{
	background: #666666;
	height: 100%;
	margin: 0;
	font-family: serif;
	text-align: center;
	height: auto;
}

a img
{
	border: none;
}

a
{
	color: #880000;
	text-decoration: none;
}

a:hover
{
	color: #000000;
	text-decoration: none;
}

#header
{
	border-left: 3px solid #444444;
  border-right: 3px solid #888888;
	border-bottom: 10px solid #880000;
	height: 80px;
	background: #eeeeee url('red_banner.png') no-repeat right bottom;
}

#sitemenu
{
	color: #ffffff;
	height: 20;
	padding: 3px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0;
	margin-bottom: 0;
	border: none;
  border-top: 3px solid #888888;
  border-bottom: 3px solid #444444;
	background: #666666;
  text-align: left;
}

#sitemenu a
{
	color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#sitemenu a:hover
{
	color: #ffffff;
  text-decoration: underline;
}

#sitebody
{
  border-left: 3px solid #444444;
  border-right: 3px solid #888888;
}

#footer
{
	background: #666666;
	height: 20px;
	padding: 0px;
	border: none;
  border-top: 3px solid #888888;
	font-style: normal;
	text-align: center;
	color: #aaaaaa;
}

#maintable
{
	width: 75%;
}