*
{
	font-size: 11px;
  font-family: sans-serif;
}

body
{
	padding: 0;
	margin: 0;
	background: #eeeeee;
	text-align:center;
}

a img
{
	border: none;
}

a
{
	color: #880000;
	text-decoration: none;
}

a:hover
{
	color: #ff0000;
	text-decoration: underline;
}

h1
{
	font-size: 20px;
  width: 100%;
}

h2
{
	font-size: 17px;
  width: 75%;
}

h3
{
	font-size: 15px;
  width: 50%;
}

h4
{
	font-size: 13px;
}

h5
{
}

ul
{
	margin: 0;
	margin-left: 20px;
}

table
{
	width: 100%;
	border-spacing:0;
}

td
{
	padding:2px;
}

.event_item, .news_item, .music_item, .gallery_item, .links_item, .pages_item, .admin_item
{
	padding: 0px;
	text-align: left;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  margin-top: 10px;
}

.item_body
{
	height: auto;
	padding: 5px;
  border: none;
  margin: 0;
}

.item_title
{
	color: #ffffff;
	background: #660000;
	padding: 5px;
	margin: 0;
	border: none;
  border-bottom: 3px #444444 solid;
}

.item_title a
{
	color: #eeeeee;
}

.item_title a:hover
{
	color: #ff8888;
}

.admin_item
{
	padding: 0;
	border-bottom: 3px solid #444444;
	border-left: 3px solid #888888;
	border-right: 3px solid #444444;
	border-top: 3px solid #888888;
	background: #666666;
  color: #ffffff;

}

.admin_item .item_body
{
  color: #ffffff;
  border-top: 1px solid #777777;
}

.admin_item .item_title
{
  border: none;
  border-bottom: 1px solid #444444;
	text-align: center;
  font-weight: bold;
  background: none;
  color: #eeeeee;
}

.admin_item .item_body table
{
	color: #eeeeee;
}

.admin_item a
{
	color: #ffffff;
}

.music_item img
{
	border: 1px solid #888888;
}

form
{
	margin: 0;
}

textarea
{
	width: 100%;
	padding: 2px;
}

textarea:hover
{

}

input
{
	font-style: normal;
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 1px;
}

input:hover
{

}

.notice
{
	border: 2px solid #000000;
	color: #000000;
	font-weight: bold;
  width: 220px;
  background-color: #dddddd;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.error
{
	border: 2px solid #000000;
	color: #ffffff;
	font-weight: bold;
  width: 220px;
  background-color: #cc0000;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
  text-align: center;
}

.pagelist
{
  text-align: center;
  width: 90%;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
  margin-top: 10px;
}

.gallery_item .pagelist
{

}

.pagelist_item
{
  margin-right: 5px;
  margin-left: 5px;
}

.quote
{
	border: none;
	border: #333333 1px solid;
	margin: 10px;
	padding: 10px;
	background: #eeeeee;
	text-align: left;
	font-style: normal;
}

.postedimage
{
	
}

.admin_item .eventable, .admin_item .oddtable
{
	color: #ffffff;
  border: 1px solid #000000;
}

.eventable, .oddtable
{
	color: #000000;
  border: 1px solid #888888;
}

#adminmenu
{
	color: #000000;
  width: 90%;
	padding: 5px;
	margin-top: 0;
	margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
	border: none;
	background: none;
  text-align: center;
}

#adminmenu a
{
	color: #880000;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 3px;
  padding-top: 3px;
}

#adminmenu a:hover
{
	color: #000000;
}